ul {
    list-style-type: none;
}

.navbar {
    overflow: hidden;
    background-color: #A85D30;
    font-family: 'Lucida Sans Typewriter', cursive;
    z-index: 1000;
    margin-top: 0;
    height: 53px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: 'Lucida Sans Typewriter', cursive;
    margin: 0;
}

.navbar a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
    color: #A85D30;
    font-family: Engravers;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #A85D30;
    font-family: Engravers;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    color: #A85D30;
    border: #A85D30 solid 1px;
}

.dropdown-content a:hover {
    border: 1.5px solid #ffffff;
}

.dropdown:hover .dropdown-content {
    display: block;
}
